# Provider (yc config show)
# Run: yc iam create-token
oauth_token = "OAuth_token"
cloud_id = "CloudID"
folder_id = "some_folder_id"
zone = "ru-central1-a"

# Instance
#public_key_path = "~/.ssh/id_rsa.pub"
# data-disk size, Gb
data_disk_size = 10
